<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
        <% include ../partials/head %>
    </head>
    <body>
        <h2>RESULTS</h2>

        <table style="width:100%" method="get" action="/matchday-results">
            <tr>
                <th>Home</th>
                <th>Score</th>
                <th>Result</th>
                <th>Away</th>
                <th>Score</th>
            </tr>
            <tr>
                <th><%- '${data.matches[0].hometeam.name}' %></th>
                <th><%- '${data.matches[0].score.fulltime.hometeam}' %></th>
                <th><%- '${data.matches[0].score.winner}' %></th>
                <th><%- '${data.matches[0].awayteam.name}' %></th>
                <th><%- '${data.matches[0].score.fulltime.awayteam}' %></th>
            </tr>
            <tr>
                <th><%- '${data.matches[1].hometeam.name}' %></th>
                <th><%- '${data.matches[1].score.fulltime.hometeam}' %></th>
                <th><%- '${data.matches[1].score.winner}' %></th>
                <th><%- '${data.matches[1].awayteam.name}' %></th>
                <th><%- '${data.matches[1].score.fulltime.awayteam}' %></th>
            </tr>
            <tr>
                <th><%- '${data.matches[2].hometeam.name}' %></th>
                <th><%- '${data.matches[2].score.fulltime.hometeam}' %></th>
                <th><%- '${data.matches[2].score.winner}' %></th>
                <th><%- '${data.matches[2].awayteam.name}' %></th>
                <th><%- '${data.matches[2].score.fulltime.awayteam}' %></th>
            </tr>
            <tr>
                <th><%- '${data.matches[3].hometeam.name}' %></th>
                <th><%- '${data.matches[3].score.fulltime.hometeam}' %></th>
                <th><%- '${data.matches[3].score.winner}' %></th>
                <th><%- '${data.matches[3].awayteam.name}' %></th>
                <th><%- '${data.matches[3].score.fulltime.awayteam}' %></th>
            </tr>
            <tr>
                <th><%- '${data.matches[4].hometeam.name}' %></th>
                <th><%- '${data.matches[4].score.fulltime.hometeam}' %></th>
                <th><%- '${data.matches[4].score.winner}' %></th>
                <th><%- '${data.matches[4].awayteam.name}' %></th>
                <th><%- '${data.matches[4].score.fulltime.awayteam}' %></th>
            </tr>
            <tr>
                <th><%- '${data.matches[5].hometeam.name}' %></th>
                <th><%- '${data.matches[5].score.fulltime.hometeam}' %></th>
                <th><%- '${data.matches[5].score.winner}' %></th>
                <th><%- '${data.matches[5].awayteam.name}' %></th>
                <th><%- '${data.matches[5].score.fulltime.awayteam}' %></th>
            </tr>
            <tr>
                <th><%- '${data.matches[6].hometeam.name}' %></th>
                <th><%- '${data.matches[6].score.fulltime.hometeam}' %></th>
                <th><%- '${data.matches[6].score.winner}' %></th>
                <th><%- '${data.matches[6].awayteam.name}' %></th>
                <th><%- '${data.matches[6].score.fulltime.awayteam}' %></th>
            </tr>
            <tr>
                <th><%- '${data.matches[7].hometeam.name}' %></th>
                <th><%- '${data.matches[7].score.fulltime.hometeam}' %></th>
                <th><%- '${data.matches[7].score.winner}' %></th>
                <th><%- '${data.matches[7].awayteam.name}' %></th>
                <th><%- '${data.matches[7].score.fulltime.awayteam}' %></th>
            </tr>
            <tr>
                <th><%- '${data.matches[8].hometeam.name}' %></th>
                <th><%- '${data.matches[8].score.fulltime.hometeam}' %></th>
                <th><%- '${data.matches[8].score.winner}' %></th>
                <th><%- '${data.matches[8].awayteam.name}' %></th>
                <th><%- '${data.matches[8].score.fulltime.awayteam}' %></th>
            </tr>
            <tr>
                <th><%- '${data.matches[9].hometeam.name}' %></th>
                <th><%- '${data.matches[9].score.fulltime.hometeam}' %></th>
                <th><%- '${data.matches[9].score.winner}' %></th>
                <th><%- '${data.matches[9].awayteam.name}' %></th>
                <th><%- '${data.matches[9].score.fulltime.awayteam}' %></th>
            </tr>
        </table>

        <a href="/leaderboard">Check Leaderboard</a>
        <a href="/predictions">Make Predictions</a>
        <a href="/update-predictions">Change Predictions</a>
    </body>
</html>
