<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">


        <% include ../partials/head %>

    </head>
    <body>

        <% include ../partials/header %>

        <h2 aria-label="string">RESULTS</h2>

        <table style="width:100%" method="get" action="/matchday-results">
        <input type="hidden" name="matchDay" value="<%=data.matches[0].season.currentMatchday - 1%>">
            <tr>
                <th role="columnheader">Home</th>
                <th role="columnheader">Score</th>
                <!-- <th>Winner</th> -->
                <th role="columnheader">Away</th>
                <th role="columnheader">Score</th>
            </tr>

            <% for (var i = 0; i < data.matches.length; i++) { %>

            <tr role="row" aria-live="polite">
                <td><%= data.matches[i].homeTeam.name  %></td>
                <td class="thin-col"><%= data.matches[i].score.fullTime.homeTeam %></td>
                <!-- <td class="thin-col"><%= data.matches[i].score.winner %></td> -->
                <td><%= data.matches[i].awayTeam.name  %></td>
                <td class="thin-col"><%= data.matches[i].score.fullTime.awayTeam %></td>
            </tr>

            <% } %>

        </table>

        <a class="button" href="/leaderboard">Check Leaderboard</a>
        <a class="button" href="/predictions">Make Predictions</a>
        <a class="button" href="/updatePredictions">Change Predictions</a>
        <a class="button" href="/profile">Home Page</a>

        <% include ../partials/footer %>

    </body>
</html>
