<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
        <% include ../partials/head %>
    </head>
    <body>
        <h2>RESULTS</h2>

        <table style="width:100%" method="get" action="/matchday-results">
        <input type="hidden" name="matchDay" value="<%=data.matches[0].season.currentMatchday - 1%>">
            <tr>
                <th>Home</th>
                <th>Score</th>
                <th>Winner</th>
                <th>Away</th>
                <th>Score</th>
            </tr>

            <% for (var i = 0; i < data.matches.length; i++) { %>

            <tr>
                <td><%= data.matches[i].homeTeam.name  %></td>
                <td><%= data.matches[i].score.fullTime.homeTeam %></td>
                <td><%= data.matches[i].score.winner %></td>
                <td><%= data.matches[i].awayTeam.name  %></td>
                <td><%= data.matches[i].score.fullTime.awayTeam %></td>
            </tr>

            <% } %>

        </table>

        <a href="/leaderboard">Check Leaderboard</a>
        <a href="/predictions">Make Predictions</a>
        <a href="/update-predictions">Change Predictions</a>
        <a href="/profile">Home Page</a>
    </body>
</html>
