<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">

        <% include ../partials/head %>

    </head>
    <body>

        <% include ../partials/header %>

        <form method="post" action="/predictions">
            <input type="hidden" name="matchDay" value="<%=data[0].season.currentMatchday%>">
            <fieldset>
                <legend><h2 aria-label="string">PREDICTIONS</h2></legend>
                <h3>Matchday : <%= data[0].season.currentMatchday %></h3>
                <table>
                    <tr>
                        <th role="columnheader">Home Win</th>
                        <th role="columnheader">Draw</th>
                        <th role="columnheader">Away Win</th>
                    </tr>

                    <% for (let i = 0; i < data.length; i++) { %>

                        <div class="fade" aria-live="polite">
                            <tr role="row">
                                <td><label><input value="HOME_WIN" type="radio" name="fixture_<%=i+1%>" required><div class="box box-1"><span><%= data[i].homeTeam.name %></span></div></label><input type="hidden" name="fixtureHome_<%=i+1%>" value="<%= data[i].homeTeam.name %>"></td>

                                <td class="thin-col"><div class="box box-2"><span><input value="DRAW" type="radio" name="fixture_<%=i+1%>"></span></div>
                                </td>

                                <td><label><div class="box box-3"><span><%= data[i].awayTeam.name %></span></div><input value="AWAY_WIN" type="radio" name="fixture_<%=i+1%>"></label><input type="hidden" name="fixtureAway_<%=i+1%>" value="<%= data[i].awayTeam.name %>"></td>
                            </tr>
                        </div>

                    <% } %>

                </table>
            </fieldset>

            <button type="submit">Submit</button>
        </form>

        <% include ../partials/footer %>

    </body>
</html>
