<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
        <% include ../partials/head %>
    </head>
    <body>
        <form method="post" action="/predictions">
            <fieldset>
                <legend><h2>PREDICTIONS</h2></legend>
                <table>
                    <tr>
                        <th>Home Win</th>
                        <th>Draw</th>
                        <th>Away Win</th>
                    </tr>

                    <% for (var i = 0; i < data.matches.length; i++) { %>

                    <tr>
                        <td><label><input value="HOME_WIN" type="radio" name="fixture_<%=i+1%>" required><%= data.matches[i].homeTeam.name  %></label></td>
                        <td><input value="DRAW" type="radio" name="fixture_<%=i+1%>"></td>
                        <td><label><input value="AWAY_WIN"type="radio" name="fixture_<%=i+1%>"><%= data.matches[i].awayTeam.name %></label></td>
                    </tr>

                    <% } %>

                </table>
            </fieldset>
            <button type="submit">Submit Predictions</button>
        </form>

        <a href="/leaderboard">Check Leaderboard</a>
        <a href="/results">Check Results</a>
        <br>
        <br>

    </body>
</html>
