<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
        <% include ../partials/head %>
    </head>
    <body>
        <h1>Changed Your Mind?</h1>
        <h2>My current predictions</h2>

        <form method="post" action="/update-predictions">
            <input type="hidden" name="matchDay" value="<%=prediction.matchDay%>">
            <fieldset>
                <legend><h2>PREDICTIONS</h2></legend>
                <table>
                    <tr>
                        <th>Home Win</th>
                        <th>Draw</th>
                        <th>Away Win</th>
                    </tr>

                    <% for (let i = 0; i < prediction.fixtures.length; i++) { %>

                    <tr>
                        <td><label><input type="radio" name="fixture_<%=i%>" value="HOME_WIN" <%= (prediction.fixtures[i].prediction == "HOME_WIN" ? "checked" : "") %>><%= prediction.fixtures[i].home_team %></label><input type="hidden" name="fixtureHome_<%=i%>" value="<%= prediction.fixtures[i].home_team %>"></td>
                        <td><input value="DRAW" type="radio" name="fixture_<%=i%>" <%= (prediction.fixtures[i].prediction == "DRAW" ? "checked" : "") %>></td>
                        <td><label><input type="radio" name="fixture_<%=i%>" value="AWAY_WIN" <%= (prediction.fixtures[i].prediction == "AWAY_WIN" ? "checked" : "") %>><%= prediction.fixtures[i].away_team %></label><input type="hidden" name="fixtureAway_<%=i%>" value="<%= prediction.fixtures[i].away_team %>"></td>
                    </tr>

                    <% } %>

                </table>
            </fieldset>
            <button type="submit">Update Predictions</button>
        </form>

        <a href="/leaderboard">Check Leaderboard</a>
        <a href="/results">Check Results</a>
        <a href="/profile">Home Page</a>
        <br>
        <br>

    </body>
</html>
